<h1>Signed in as:</h1>
  <%= current_user.first_name %>
<h1>Meet People</h1>
<% @users.each_with_index do |user, index| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
<% end %>

<h1>Matches</h1>
<% @matches.each_with_index do |user, index| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
<% end %>

<h1>Friends</h1>
<% @friends.each_with_index do |user, index| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
<% end %>

<% if @pending_friend_request_list %>
  <h1>Pending Friend Requests</h1>
  <% @pending_friend_request_list.each_with_index do |user, index| %>
    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
  <% end %>
<% end %>

<% if @pending_match_request_list %>
  <h1>Pending Match Requests</h1>
  <% @pending_match_request_list.each_with_index do |user, index| %>
    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
  <% end %>
<% end %>

<hr>

<% if user_signed_in? %>
  <% unless current_user.picture.url.nil? %>
    <li class="picture"><%= image_tag(current_user.picture) %></li>
    <!-- <li class="picture"><%= image_tag(current_user.picture.thumb) %></li> -->
  <% end %>
  <li><%= link_to "Home", user_path(current_user) %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
  <li><%= link_to "Sign In", new_user_session_path %></li>
<% end %>

<% if add_friend? %>
  <li><%= link_to "Add Friend", new_friend_path(params[:id]) %></li>
<% elsif pending_friend? %>
  <li>Friend Request Pending</li>
<% elsif confirm_friend %>
  <li><%= link_to "Accept Friend!", friend_path(confirm_friend), :method => :patch %></li>
<% end %>

<% if add_match? %>
  <li><%= link_to "Add Match", new_user_match_path(params[:id]) %></li>
<% elsif pending_match? %>
  <li>Match Request Pending</li>
<% elsif confirm_match %>
  <li><%= link_to "Accept Match!", user_match_path(user_id: current_user, id: confirm_match), :method => :patch %></li>
<% end %>
