<div class="row text-center">
  <a href="/users">Find Someone!</a>
  <%= image_tag(@user.picture, class:"picture") %>

  <ul>
    <li>Name: <%= @user.name %></li>
    <li>About Me: <%= @user.description %></li>
  </ul>

  <% if @user == current_user %>
    <ul>
      <h3>Friend Requests</h3>
      <% current_user.requested_by_friends.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
      <h3>Match Requests</h3>
      <% current_user.requested_matches.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.pending_friend?(@user) %>
    <li>Friend Request Pending</li>
  <% elsif current_user.friend_request_sent_by?(@user) %>
    <li><%= link_to "Friend Back!", user_friend_path(@user, @user_friend), :method => :patch %></li>
  <% elsif current_user == @user %>
  <% elsif !current_user.friend?(@user) %>
    <li><%= link_to "Add Friend", user_friends_path(@user), method: :post %></li>
  <% end %>

  <% if current_user.match_request_sent_by?(@user) %>
    <li><%= link_to "Match Back!", user_match_path(@user, @user_match), :method => :patch %></li>
  <% elsif current_user.pending_match?(@user) %>
    <li>Match Request Pending</li>
  <% elsif current_user == @user %>
  <% elsif !current_user.match?(@user) %>
    <li><%= link_to "Add Match", new_user_match_path(params[:id]) %></li>
  <% end %>
</div>
