
<h1>Meet People</h1>
<% @users.each_with_index do |user, index| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
<% end %>

<h1>Matches</h1>

<% @matches.each_with_index do |user, index| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
<% end %>

<h1>Friends</h1>

<% @friends.each_with_index do |user, index| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
<% end %>

<% if user_signed_in? %>
  <% unless current_user.picture.url.nil? %>
    <li class="picture"><%= image_tag(current_user.picture) %></li>
    <!-- <li class="picture"><%= image_tag(current_user.picture.thumb) %></li> -->
  <% end %>
  <li><%= link_to "Home", user_path(current_user) %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
  <li><%= link_to "Sign In", new_user_session_path %></li>
<% end %>

<% if new_person? %>
  <li><%= link_to "Add Friend", user_path(current_user) %></li>
<% end %>
