<div class="off-canvas position-left" id="menuTrigger" data-off-canvas>
  <ul class="vertical dropdown menu" data-dropdown-menu>
    <% if current_user != nil %>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Matches", user_matches_path(current_user) %></li>
      <li><%= link_to "Friends", user_friends_path(current_user) %></li>
      <li><%= link_to "Edit", edit_user_registration_path(current_user) %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </ul>
</div>
